* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.navbar li {
    padding: 0px 20px; 
}
.navbar a {
    color: white;
    font-weight: bold;
    font-size: 30px; 
}
.navbar img {
    width: 50px; 
}

.principal{
    background-image: url("https://t1.uc.ltmcdn.com/es/posts/8/4/7/otros_ejercicios_hipopresivos_para_el_suelo_pelvico_45748_5_600.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
    height: 400px;
}
.principal div{
    width: 50%;
}
h1{
    text-align: center;
    text-decoration: center;
    text-transform:uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
h3{
    text-transform: uppercase;
    margin-left: 60px;
    margin-bottom: 40px;
}
.cards{
    background-color: #e5b3cd;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    justify-content: center;
}
.card {
    box-sizing: border-box;
}
.card {
    border: 4px solid #ddd;
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: 20px; 
}
.card-img-top {
    width: 100%; 
    height: 50%;
}
.card-body {
    padding: 15px;
    background-color: #f8f9fa;
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.card-text {
    color: #6c757d;
}
.btn-primary {
    background-color: #689d33; 
    border-color: forestgreen;
    color: #fff;
}
.btn-primary:hover {
    background-color: #225d2c;
    border-color: #173e1d;
}
body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#carouselExample {
    margin: 100px;
    max-width: 800px;
}
.carousel-item img {
    border-radius: 10px; 
    object-fit: cover;
    height: 600px;
}
/* Botones de control */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
